<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://alvaro-001.mybluemix.net/djangoapp/">Dealership Review</a>
                <a class="navbar-brand" href="https://alvaro-001.mybluemix.net/djangoapp/about"><b>About Us</b></a>
                <a class="navbar-brand" href="https://alvaro-001.mybluemix.net/djangoapp/contact">Contact Us</a>
            </div>
        </div>
    </nav>
    <div class="container">
      <h2>
        Welcome to our Cars dealership, take a cofee and post a review, please.
      </h2>
    </div>
  </body>
</html>
